.about {
  background-image: linear-gradient(
    to bottom,
    #874669,
    #ab6d78,
    #c89891,
    #e0c5b6,
    #faf1e6
  );
  margin: auto;
  margin-top: 90px;
  width: 100%;
  color: var(--butter);
}

.about__container {
  height: 90vh;
  margin: 0 auto;
  width: 80%;
  max-width: 2240px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__intro {
  max-width: 1270px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px;
  gap: 150px;
}
.about__figure {
  display: flex;
}
.about__image {
  position: relative;
}

.about__secondcol {
  grid-area: text;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.about__paragraph {
  padding-top: 100px;
  grid-area: text;
  min-width: 300px;
  max-width: 750px;
  color: rgb(9, 10, 10);
  text-align: center;
  font-size: 40px;
}

.about__links {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.about__links a {
  padding: 1.6rem;
  color: var(--butter);
  color: rgb(63, 62, 62);
  transition-property: color;
  transition-duration: 0.5s;
  text-decoration: none;
}

.about__links a:hover {
  color: var(--icon-hover);
  scale: 1.1;
}

.about__item .active {
  padding-bottom: 12px;
  border-bottom: 3px solid var(--icon-hover);
}

.about__cv {
  padding: 10px;
  border: rgb(83, 82, 82) solid 1px;
  border-radius: 10px;
  font-size: 1rem;
  transition-property: color;
  transition-duration: 0.5s;
  text-decoration: none;
  color: #faf1e6;
  background-color: #635f5f;
}

.about__cv:hover {
  color: var(--accent-color);
  border: var(--accent-color) solid 2px;
}

.about__skills {
  grid-area: skills;
  background-color: hsl(33, 67%, 94%, 0.2);
  padding: 50px;
  border-radius: 20px;

}

.about__skills__title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #635f5f;
}

.skills__content {
  width: 100%;
  margin: 2.5rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.skills__item {
  display: grid;
  justify-items: center;
  color: #787373;
}

.skills__name {
  color: #787373;
}

.skills__item div {
  text-align: center;
}

.skills__icon {
  margin-top: 0.8;
  color: #787373;
  text-decoration: none;
}

.download__cv {
  font-size: 1.3rem;
  text-decoration: underline;
  color: rgb(76, 76, 77);
}
.download__cv:hover {
  color: rgb(110, 110, 243);
}

@media screen and (max-width: 940px) {
  .about .about__container {
    width: 90%;
  }

  .about__intro {
    display: flex;
    flex-direction: column;
    /* grid-template-areas:
      "img"
      "text"
      "skills"; */
    /* justify-content: center; */
    padding: 5px;
  }
  .about__image {
    margin-top: 160px;
    display: block;
    padding: 0rem;
    width: 70vw;
    justify-self: center;
  }
}

@media screen and (max-width: 768px) {
  .about__paragraph {
    font-size: 25px;
  }
  .about__figure {
    margin: unset;
    gap: unset;
  }
  .about__image {

  }
}
@media screen and (max-width: 425px) {
  .about__intro {
    padding: unset;
    gap: unset;
  }

}