.about {
  background-image: linear-gradient(
    to bottom,
    #874669,
    #ab6d78,
    #c89891,
    #e0c5b6,
    #faf1e6
  );
  margin: auto;
  margin-top: 90px;
  width: 100%;
  color: var(--butter);
}

.about__container {
  width: 80%;
  margin: 20px auto;
  gap: 90px;
  display: grid;
  grid-template-areas:
    "img text"
    "skills skills";
  align-items: center;
}

.about__presentation {
  margin-top: 120px;
  gap: 70px;
}

.about__image {
  position: relative;
  grid-area: img;
}

.about__secondcol {
  grid-area: text;
  display: flex;
  flex-direction: column;
}

.about__paragraph {
  grid-area: text;
  min-width: 300px;
  color: rgb(9, 10, 10);
}

.about__links {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.about__links a {
  padding: 1.6rem;
  color: var(--butter);
  color: rgb(63, 62, 62);
}

.about__links a:hover {
  color: var(--accent-color);
}

.about__item .active {
  padding-bottom: 12px;
  border-bottom: 3px solid var(--accent-color);
}

.about__cv {
  padding: 10px;
  border: rgb(83, 82, 82) solid 2px;
  border-radius: 10px;
}

.about__skills {
  grid-area: skills;
}

.about__skills__title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: rgb(63, 62, 62);
}

.skills__content {
  width: 100%;
  margin: 4rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.skills__item {
  display: grid;
  justify-items: center;
  color: rgb(63, 62, 62);
}

.skills__item div {
  text-align: center;
}

.skills__icon {
  margin-top: 0.8;
  color: rgb(48, 47, 47);
}

.skills__icon:hover {
  color: var(--accent-color);
}
.download__cv {
  font-size: 1.3rem;
  text-decoration: underline;
  color: rgb(76, 76, 77);
}
.download__cv:hover {
  color: rgb(110, 110, 243);
}

@media screen and (max-width: 940px) {
  .about .about__container {
    width: 90%;
  }

  .about__container {
    grid-template-areas:
      "img"
      "text"
      "skills";
      /* justify-content: center; */
  }
  .about__image {
    margin-top: 160px;
    display: block;
    padding: 0rem;
    width: 70vw;
    justify-self: center;
  }
}
