.demo {
  width: 100%;
  background-color: var(--butter);
}

.demo__card {
  width: 80%;
  max-width: 1240px;
  margin: auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid #eee;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
}

.demo__text {
  margin-right: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  color: #3a3939;
}

.demo__project {
  padding-top: 3px;
  color: #3a3939;
}
.demo__paragraph {
  padding-top: 20px;
  color: #4f4e4e;
  font-size: 16px;
}

.demo__video {
  margin: auto;
}

@media screen and (max-width: 940px) {
  .demo__card {
    max-width: 90%;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  .demo__card p {
    margin-left: 0rem;
  }

  .demo__video iframe {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 480px) {
  .demo__card {
    max-width: 90%;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  .demo__card p {
    margin-left: 0rem;
    margin-top: 50px;
  }

  .demo__project {
    padding: 40px 0;
  }
 
  .demo__video iframe {
    width: 100%;
    height: auto;
  }
  .demo__card .demo__text h3 {
    font-size: 1.4rem;
    margin-top: -2rem;
    margin-bottom: -2rem;
  }
  .demo__card .demo__text p {
    font-size: 1rem;
  }
  .demo__video {
    margin-top: -1rem;
    padding-top: -1rem;
  }
}

@media screen and (max-width: 480px) {

  .demo__project {
    padding: 20px 0 0;
  }

  .demo__paragraph {
    padding-top: 0;
  }
}