.projects {
  width: 100%;
  background-color: rgb(250, 241, 230);
}

.projects__container {
  width: 100%;
  margin: 4rem auto;
  padding: 4rem 0rem;
}

.container__title {
  font-size: 3rem;
  text-align: center;
}


.projects__container .content {
  max-width: 1024px;
  width: 80%;
  margin: 4rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  flex-basis: 20rem;
  align-items: stretch;
}

.projects__card {
  margin: auto;
  padding: 2rem 2rem 4rem 2rem;
  border: 1px solid #eee;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
  flex-basis: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projects__image {
  margin: auto;
}

.projects__title {
  padding-top: 1rem;
  font-size: 1.6rem;
  text-align: center;
}

.projects__paragraph {
  padding-top: 20px;
  color: #787878;
  font-size: 1.1rem;
  margin: 20px;
}

.projects__icon-center {
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
  color: rgb(134, 134, 134);
  transition-property: color;
  transition-duration: 0.5s;
  text-decoration: none;
}

.projects a {
  display: flex;
  color: rgb(134, 134, 134);
  transition-property: color;
  transition-duration: 0.5s;
  text-decoration: none;
}

.projects__icon:hover {
  color: var(--accent-color);
}

.projects__icon-center-github:hover {
  color: var(--accent-color);
}

.projects__icon-center-world:hover {
  color: var(--accent-color);
}

.projects .cards span {
  color: var(--accent-color);
  font-size: 1rem;
  font-weight: 700;
}

@media screen and (max-width: 1000px) {
  .projects .container {
    width: 100%;
  }

  .projects {
    margin: 1rem;
  }

  .projects__paragraph {
    margin: 0rem 0rem;
  }

}
@media screen and (max-width: 480px) {
  .projects__card {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .projects__img {
    margin-left: -13.5px;
  }
}
@media screen and (max-width: 330px) {
  .projects__img {
    margin: auto;
    width: 275px;
  }
}
