.skills {
    margin: 90px 0;
    padding-bottom: 90px;
   color: var(--butter);
 }

 
 .about__skills__title {
   font-size: 32px;
   font-weight: bold;
   text-align: center;
   color: #302e2e;
 }
 
 .skills__content {
   text-align: center;
   margin: 100px ;
   padding: 0 20px;
   display: flex;
   flex-wrap: wrap;
   gap: 40px;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
 }
 
 .skills__item {
   display: grid;
   justify-items: center;
   color: #595757;
 }
 
 .skills__name {
   color: #595757;
 }
 
 .skills__name {
   text-align: center;
 }
 
 .skills__icon {
   margin-top: 0.8;
   color: #454141;
   text-decoration: none;
 }
 

